@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.active {
    /*/@apply bg-white text-blue-400 rounded-full;*/
    background: white; 
    border-radius: 9999px; 
    color: #63b3ed;
}

.filter-brightness {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.brightness-transition .filter-brightness {
    filter: brightness(80%);
    opacity: 0.5;
}